.group-content
  .group-content__group-name
    sample
  .group-content__group-last-message
    sample
.group-content
  .group-content__group-name
    sample
  .group-content__group-last-message
    sample
