.message
  .message__user-name
    sample
  .message__posted-time
    2018/XX/XX XX:XX:XX
  .message__content
    sample
.message
  .message__user-name
    sample
  .message__posted-time
    2018/XX/XX XX:XX:XX
  .message__content
    sample
.message
  .message__user-name
    sample
  .message__posted-time
    2018/XX/XX XX:XX:XX
  .message__content
    sample
.message
  .message__user-name
    sample
  .message__posted-time
    2018/XX/XX XX:XX:XX
  .message__content
    sample
